<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/> 
  </system.web>
  <system.serviceModel>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_IService1" allowCookies="true"
					  maxReceivedMessageSize="20000000"
					  maxBufferSize="20000000"
					  maxBufferPoolSize="20000000">
				  <readerQuotas maxDepth="2147483647"
					  maxArrayLength="20000000"
					  maxStringContentLength="20000000"/>
			  </binding>
		  </basicHttpBinding>
	  </bindings>
	  <services>
		  <service name="WebService.Service1" behaviorConfiguration="mex">
			  <!-- define endpoint with your binding and the name of the binding configuration
           that you have defined just above -->
			  <endpoint address=""
						binding="basicHttpBinding"
						bindingConfiguration="BasicHttpBinding_IService1"
						contract="WebService.IService1" />
		  </service>
	  </services>
    <diagnostics performanceCounters="Default" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex"> 
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы получать сведения об исключении при сбоях для отладки, следует установить значение True для указанного ниже параметра. Следует установить значение False для этого параметра перед развертыванием, чтобы не допустить раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
